<p id="notice"><%= notice %></p>

<p>
  <b>Dormname:</b>
  <%= @page.dormName %>
</p>

<p>
  <b>Roomnumber:</b>
  <%= @page.roomNumber %>
</p>

<p>
  <b>Capacity:</b>
  <%= @page.capacity %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>


<%= render 'users/index'%>
<%= render 'comments/index'%>

