<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @user.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastName %>
</p>

<p>
  <b>Account:</b>
  <%= @user.account %>
</p>

<p>
  <b>Roomdrawnumber:</b>
  <%= @user.roomDrawNumber %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>



<%= link_to 'Edit', edit_page_user_path(@page, @user) %> |
<%= link_to 'Back', page_path(@page) %>
