<p id="notice"><%= notice %></p>


<table border="1" bordercolor="#000000" style="background-color:#BC9A6A; color: black; margin-left: 480px" width="400" cellpadding="3" cellspacing="3">
    <tr>
        <td>Dorm</td>
        <td><%= @page.dormName %></td>
    </tr>
    <tr>
        <td>Room number</td>
        <td><%=@page.roomNumber%></td>
    </tr>
    <tr>
        <td>Capacity</td>
        <td><%= @page.capacity%></td>
    </tr>
</table>

<table border="1" bordercolor="#000000" style="background-color:#BC9A6A; color: black; margin-left: 480px" width="400" cellpadding="3" cellspacing="3">
    <tr>
        <td>First name</td>
        <td><%= @user.firstName %></td>
    </tr>
    <tr>
        <td>Last name</td>
        <td><%=@user.lastName%></td>
    </tr>
    <tr>
        <td>Room draw number </td>
        <td><%= @user.roomDrawNumber%></td>
    </tr>
</table>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>



